For userA in the following states:
    in begining :
      proceed to suspend on accepting license license_A
    in activate :
      proceed to suspend on visit_increment of 1
    in suspend :
      proceed to activate on account_settled
    I agree to authorize token in active
